.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.toss-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.toss-container > h2 {
    margin: 5px;
}

.toss-container > h4 {
    margin: 5px;
    text-align: center;
}

.round {
    background-color: crimson;
    color: white;
    border-radius: 100px;
    padding: 1rem;
    height: 60px;
    width: 60px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid gold;
    cursor: pointer;
}

  
.roll {
    animation-name: rotate;
    animation-duration: 1s;
    animation-direction: reverse;
  }

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }