.movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links > span {
    margin: 1.6rem;
    cursor: pointer;
    
}

.links {
  border-bottom: 3px solid rgb(213, 213, 213);
}

/* span {
    background-color: rgb(213, 213, 213);
    padding: 0.2rem;
    border-top-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
} */


