.emoji-main-container  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 50%;
    row-gap: 10px;
    column-gap: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    max-width: 1600px;
}


@media screen and (max-width: 768px)  {
    .emoji-main-container  {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        justify-items: center;
        width: 100%;
        row-gap: 10px;
        column-gap: 0px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        padding: 10px;
        
    }

    .header-container h1 {
        font-size: 24px;
    }

    .render-res {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 10px;
    }
}
