.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-box {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
    border-radius: 10px;
    width: 40%;
}
.input-container {
    display: flex;
    flex-direction: row;
}

.input-container input{
    height: 28px;
    border: 1px solid grey;
    border-radius: 4px;
    padding-left: 10px;
    width: 60%;
    outline: none;
   
}

button {
    background-color: crimson;
    border: none;
    color: white;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 10px;
    padding:  5px 15px 5px 15px;
}

h4 {
    margin: 0;
}

.list-head {
    margin-top: 1.5rem;
}

hr {
    margin: 0;
}